{% extends 'base.html.twig' %}

{% block body %}

    <br><br><br>
    <div class="center text-center">

        <h3>Pour acceder à cette page vous devez être connecté</h3>

        <a href="{{ path('app_homepage') }}" class="btn btn-dark">Revenir à la page d'accueil</a>

    </div>
{% endblock %}