{% extends 'base.html.twig' %}

{% block body %}

    <br><br><br>
    <div class="center text-center">

        <h3>Le page que vous cherchez n'existe pas</h3>

        <a href="{{ path('reseau') }}" class="btn btn-dark">Revenir sur votre fil d'actualité</a>

    </div>
{% endblock %}