{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-8 mx-auto text-center">
        <h1 class="mt-5 mb-5">Pour La Culture</h1>

        <h2 class="mt-5 mb-5">Bienvenue sur notre réseau social de partage de musique via l'API Spotify.</h2>

        <h4 class="mt-5 mb-5">Pour decouvrir notre application veuillez vous inscrire ou vous connecter si vous avez déjà un compte.</h4>
    </div>

{% endblock %}
